@model IUseLipstickShop.Models.UserLoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/Dang-nhap.css">
</head>
<!-- THIS THING -->
<div class="layout-2">
    <div class="tieu-de">
        <h1 class="h1-dau"> LOGIN </h1>
    </div>
</div>

<div class="main">
    <div class="box">
        <form method="post" action="" name="login">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                <div class="labelInputArea">
                    <label for="username">Username</label><br>
                    @Html.TextBoxFor(Model => Model.UserName, new { @class = "text", @placeholder = "UserName", @id = "username", @autofocus = "autofocus" })
                </div>
                <div class="labelInputArea">
                    <label for="password">Password</label><br>
                    @Html.TextBoxFor(Model => Model.PassWord, new { @class = "text", @type = "Password", @placeholder = "Password", @id = "password", @autofocus = "Password" })
                </div>
                <p>
                    <label id="botton"></label>
                    <input type="submit" name="action" id="submit" value="Login" />
                </p>
            }
        </form>
        <a href="./Forgot.html" id="forgotpass">Forgot your password?</a>
        <br>
        @*<a href="javascript:void(0);" onclick="window.location.href='./Dang-ky.html'">Create account</a>
        <script language="javascript" src="./js/login.js"></script>*@
        @*<a href="~/UserRegistration/Register" id="create_account">Create Account</a>*@
        @Html.ActionLink("Create account", "Register", "UserRegistration")
    </div>
</div>


<!-- THIS THING -->
